*{
  margin: 0px;
  padding: 0px;
 
}

.background-image{
  background-image: url(./image/back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height:100vh;
}

  .header {
    background-image: url(./image/panorama.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
  
   
  }


  .cimer{
    width: 100px;
    object-position: right;

 
  }

  table,th,td{
    border:1px;
    border-style: solid;
    background-color: #b0d1f1;
    margin: 20px;
    
    }

    .keret{
      background-color: #5b9cea;
      width: 450px;
      float: left;
     }

     .szoveg1{
      margin-top: 15px;
      margin-left: 20px;
     }

     .szoveg2{
      margin-left: 20px;
     }

     .keret2{
      background-color: #5b9cea;
      width: 450px;
      float: left;
      margin-left: 50px;
     }

     .szoveg3{
      margin-top: 15px;
      margin-left: 20px;
     }

     .szoveg4{
      margin-left: 20px;
     }

   